style.css    padding:70px 25px;
}

section h2{
    font-size:32px;
    margin-bottom:20px;
    color:#38bdf8;
}

.skill{
    display:inline-block;
    background:#1e293b;
    padding:12px 18px;
    margin:8px;
    border-radius:8px;
}

footer{
    text-align:center;
    padding:30px;
    background:#111827;
    color:#94a3b8;
}

@media(max-width:768px){

nav{
flex-direction:column;
}

nav ul{
margin-top:15px;
flex-wrap:wrap;
justify-content:center;
}

.hero h1{
font-size:30px;
}

.profile{
width:150px;
height:150px;
}

.btn,.btn2{
display:block;
margin:10px auto;
width:220px;
}

}
